In [ ]:
import numpy as np
import pandas as pd

In [ ]:

df = pd.read_csv('/content/diabetes.csv')
df1 = pd.read_csv("/content/indian_liver_patient.csv")

In [ ]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df1.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [ ]:
dataframe1 = pd.DataFrame(df)
dataframe2 = pd.DataFrame(df1)

# Perform the join operation based on the common attribute 'ID'
merged_df = dataframe1.merge(dataframe2, on='Age', how='inner')
merged_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,6,148,72,35,0,33.6,0.627,50,1,Male,2.6,1.2,415,407,576,6.4,3.2,1.00,1
1,6,148,72,35,0,33.6,0.627,50,1,Male,5.8,3.0,661,181,285,5.7,2.3,0.67,2
2,6,148,72,35,0,33.6,0.627,50,1,Male,7.3,3.6,1580,88,64,5.6,2.3,0.60,2
3,6,148,72,35,0,33.6,0.627,50,1,Male,0.9,0.2,202,20,26,7.2,4.5,1.66,1
4,6,148,72,35,0,33.6,0.627,50,1,Male,1.6,0.8,218,18,20,5.9,2.9,0.96,1

In [ ]:
merged_df.isnull().sum()

Pregnancies                    0
Glucose                        0
BloodPressure                  0
SkinThickness                  0
Insulin                        0
BMI                            0
DiabetesPedigreeFunction       0
Age                            0
Outcome                        0
Gender                         0
Total_Bilirubin                0
Direct_Bilirubin               0
Alkaline_Phosphotase           0
Alamine_Aminotransferase       0
Aspartate_Aminotransferase     0
Total_Protiens                 0
Albumin                        0
Albumin_and_Globulin_Ratio    65
Dataset                        0
dtype: int64

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7305 entries, 0 to 7304
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Pregnancies                 7305 non-null   int64
 1   Glucose                     7305 non-null   int64
 2   BloodPressure               7305 non-null   int64
 3   SkinThickness               7305 non-null   int64
 4   Insulin                     7305 non-null   int64
 5   BMI                         7305 non-null   float64
 6   DiabetesPedigreeFunction    7305 non-null   float64
 7   Age                         7305 non-null   int64
 8   Outcome                     7305 non-null   int64
 9   Gender                      7305 non-null   object
 10  Total_Bilirubin             7305 non-null   float64
 11  Direct_Bilirubin            7305 non-null   float64
 12  Alkaline_Phosphotase        7305 non-null   int64
 13  Alamine_Aminotransferase    7305 non-null   int64
 14  Aspartate_Aminotransferase  7305 non-null   int64
 15  Total_Protiens              7305 non-null   float64
 16  Albumin                     7305 non-null   float64
 17  Albumin_and_Globulin_Ratio  7240 non-null   float64
 18  Dataset                     7305 non-null   int64
dtypes: float64(7), int64(11), object(1)
memory usage: 1.1+ MB

In [ ]:
# Removing noise from dataset having column 'Dataset' which has no relevance with the other attributes
merged_df = merged_df.drop('Dataset', axis=1)

In [ ]:
merged_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,6,148,72,35,0,33.6,0.627,50,1,Male,2.6,1.2,415,407,576,6.4,3.2,1.00
1,6,148,72,35,0,33.6,0.627,50,1,Male,5.8,3.0,661,181,285,5.7,2.3,0.67
2,6,148,72,35,0,33.6,0.627,50,1,Male,7.3,3.6,1580,88,64,5.6,2.3,0.60
3,6,148,72,35,0,33.6,0.627,50,1,Male,0.9,0.2,202,20,26,7.2,4.5,1.66
4,6,148,72,35,0,33.6,0.627,50,1,Male,1.6,0.8,218,18,20,5.9,2.9,0.96

In [ ]:
merged_df.isnull().sum()

Pregnancies                    0
Glucose                        0
BloodPressure                  0
SkinThickness                  0
Insulin                        0
BMI                            0
DiabetesPedigreeFunction       0
Age                            0
Outcome                        0
Gender                         0
Total_Bilirubin                0
Direct_Bilirubin               0
Alkaline_Phosphotase           0
Alamine_Aminotransferase       0
Aspartate_Aminotransferase     0
Total_Protiens                 0
Albumin                        0
Albumin_and_Globulin_Ratio    65
dtype: int64

In [ ]:
merged_df=merged_df.dropna()
print(merged_df)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0               6      148             72             35        0  33.6
1               6      148             72             35        0  33.6
2               6      148             72             35        0  33.6
3               6      148             72             35        0  33.6
4               6      148             72             35        0  33.6
...           ...      ...            ...            ...      ...   ...
7300            4      145             82             18        0  32.5
7301            8       91             82              0        0  35.6
7302            8       91             82              0        0  35.6
7303            8       91             82              0        0  35.6
7304            8       91             82              0        0  35.6

      DiabetesPedigreeFunction  Age  Outcome  Gender  Total_Bilirubin  \
0                        0.627   50        1    Male              2.6
1                        0.627   50        1    Male              5.8
2                        0.627   50        1    Male              7.3
3                        0.627   50        1    Male              0.9
4                        0.627   50        1    Male              1.6
...                        ...  ...      ...     ...              ...
7300                     0.235   70        1    Male              2.7
7301                     0.587   68        0    Male              0.7
7302                     0.587   68        0  Female              0.6
7303                     0.587   68        0  Female              0.7
7304                     0.587   68        0    Male              1.8

      Direct_Bilirubin  Alkaline_Phosphotase  Alamine_Aminotransferase  \
0                  1.2                   415                       407
1                  3.0                   661                       181
2                  3.6                  1580                        88
3                  0.2                   202                        20
4                  0.8                   218                        18
...                ...                   ...                       ...
7300               1.2                   365                        62
7301               0.1                   145                        20
7302               0.1                  1620                        95
7303               0.2                   186                        18
7304               0.5                   151                        18

      Aspartate_Aminotransferase  Total_Protiens  Albumin  \
0                            576             6.4      3.2
1                            285             5.7      2.3
2                             64             5.6      2.3
3                             26             7.2      4.5
4                             20             5.9      2.9
...                          ...             ...      ...
7300                          55             6.0      2.4
7301                          22             5.8      2.9
7302                         127             4.6      2.1
7303                          15             6.4      3.8
7304                          22             6.5      4.0

      Albumin_and_Globulin_Ratio
0                           1.00
1                           0.67
2                           0.60
3                           1.66
4                           0.96
...                          ...
7300                        0.60
7301                        1.00
7302                        0.80
7303                        1.40
7304                        1.60

[7240 rows x 18 columns]

In [ ]:
merged_df.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                       0
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
dtype: int64

In [ ]:
merged_df.size

130320

In [ ]:
 merged_df.shape[0]

7240

In [ ]:
merged_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,6,148,72,35,0,33.6,0.627,50,1,Male,2.6,1.2,415,407,576,6.4,3.2,1.00
1,6,148,72,35,0,33.6,0.627,50,1,Male,5.8,3.0,661,181,285,5.7,2.3,0.67
2,6,148,72,35,0,33.6,0.627,50,1,Male,7.3,3.6,1580,88,64,5.6,2.3,0.60
3,6,148,72,35,0,33.6,0.627,50,1,Male,0.9,0.2,202,20,26,7.2,4.5,1.66
4,6,148,72,35,0,33.6,0.627,50,1,Male,1.6,0.8,218,18,20,5.9,2.9,0.96

In [ ]:
gender_mapping={'Male' : 1, 'Female':0}
merged_df['Gender']=merged_df['Gender'].map(gender_mapping)

In [ ]:
merged_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,6,148,72,35,0,33.6,0.627,50,1,1,2.6,1.2,415,407,576,6.4,3.2,1.00
1,6,148,72,35,0,33.6,0.627,50,1,1,5.8,3.0,661,181,285,5.7,2.3,0.67
2,6,148,72,35,0,33.6,0.627,50,1,1,7.3,3.6,1580,88,64,5.6,2.3,0.60
3,6,148,72,35,0,33.6,0.627,50,1,1,0.9,0.2,202,20,26,7.2,4.5,1.66
4,6,148,72,35,0,33.6,0.627,50,1,1,1.6,0.8,218,18,20,5.9,2.9,0.96

In [ ]:
merged_df['Gender']

0       1
1       1
2       1
3       1
4       1
       ..
7300    1
7301    1
7302    0
7303    0
7304    1
Name: Gender, Length: 7240, dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
merged_df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'Gender',
       'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase',
       'Alamine_Aminotransferase', 'Aspartate_Aminotransferase',
       'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio'],
      dtype='object')

In [ ]:
X = merged_df.drop('Outcome', axis=1)
y = merged_df['Outcome']

# Create a MinMaxScaler instance
scaler = MinMaxScaler()

# Normalize the 'Outcome' column
y_normalized = scaler.fit_transform(y.values.reshape(-1, 1))

# Convert the normalized values back to a DataFrame
normalized_y = pd.DataFrame(y_normalized, columns=['Outcome'])

# Concatenate normalized 'Outcome' column with features
normalized_data = pd.concat([X, normalized_y], axis=1)

In [ ]:
print(normalized_data)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6.0    148.0           72.0           35.0      0.0  33.6
1             6.0    148.0           72.0           35.0      0.0  33.6
2             6.0    148.0           72.0           35.0      0.0  33.6
3             6.0    148.0           72.0           35.0      0.0  33.6
4             6.0    148.0           72.0           35.0      0.0  33.6
...           ...      ...            ...            ...      ...   ...
4798          NaN      NaN            NaN            NaN      NaN   NaN
4810          NaN      NaN            NaN            NaN      NaN   NaN
4822          NaN      NaN            NaN            NaN      NaN   NaN
4834          NaN      NaN            NaN            NaN      NaN   NaN
4846          NaN      NaN            NaN            NaN      NaN   NaN

      DiabetesPedigreeFunction   Age  Gender  Total_Bilirubin  \
0                        0.627  50.0     1.0              2.6
1                        0.627  50.0     1.0              5.8
2                        0.627  50.0     1.0              7.3
3                        0.627  50.0     1.0              0.9
4                        0.627  50.0     1.0              1.6
...                        ...   ...     ...              ...
4798                       NaN   NaN     NaN              NaN
4810                       NaN   NaN     NaN              NaN
4822                       NaN   NaN     NaN              NaN
4834                       NaN   NaN     NaN              NaN
4846                       NaN   NaN     NaN              NaN

      Direct_Bilirubin  Alkaline_Phosphotase  Alamine_Aminotransferase  \
0                  1.2                 415.0                     407.0
1                  3.0                 661.0                     181.0
2                  3.6                1580.0                      88.0
3                  0.2                 202.0                      20.0
4                  0.8                 218.0                      18.0
...                ...                   ...                       ...
4798               NaN                   NaN                       NaN
4810               NaN                   NaN                       NaN
4822               NaN                   NaN                       NaN
4834               NaN                   NaN                       NaN
4846               NaN                   NaN                       NaN

      Aspartate_Aminotransferase  Total_Protiens  Albumin  \
0                          576.0             6.4      3.2
1                          285.0             5.7      2.3
2                           64.0             5.6      2.3
3                           26.0             7.2      4.5
4                           20.0             5.9      2.9
...                          ...             ...      ...
4798                         NaN             NaN      NaN
4810                         NaN             NaN      NaN
4822                         NaN             NaN      NaN
4834                         NaN             NaN      NaN
4846                         NaN             NaN      NaN

      Albumin_and_Globulin_Ratio  Outcome
0                           1.00      1.0
1                           0.67      1.0
2                           0.60      1.0
3                           1.66      1.0
4                           0.96      1.0
...                          ...      ...
4798                         NaN      1.0
4810                         NaN      1.0
4822                         NaN      1.0
4834                         NaN      1.0
4846                         NaN      1.0

[7305 rows x 18 columns]